# Prerequisites:
# - Install pre-commit: `pipx install pre-commit` (or `pip install pre-commit`)
# - Run: `pre-commit install`

repos:
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: ['--baseline', '.secrets.baseline']
    stages: [pre-push]

# Python formatting and linting
- repo: https://github.com/psf/black
  rev: 24.3.0
  hooks:
  - id: black
    args: [--line-length=80]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.3.4
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format
